article {
  padding: 10px;
  border: 2px solid;
}
.tweet-header {
   
  /* display: flex;
  min-width: 100%;
  justify-content:space-between;
  outline: none; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* justify-content: space-between; */
  
}
.tweet-footer {
    
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  border-top: 4px solid #4d4b4b;
}
.tweet-username{
  float:right;
}
  .tweet-icons :hover {
    cursor: pointer;
  color: #68d514;
}
